<div class="container mt-5">
  <!-- @let basket = basketService.basketSource$ | async; -->
  @let basket = basketService.basketSignal();
  @if (basket) {
  <!-- <ng-container> -->
  <div class="container">
    <div class="row">
      <basket-summary (addItem)="incrementQuantity($event)" (removeItem)="removeItem($event)" />
    </div>

    <div class="row">
      <div class="col-6 offset-6">
        <order-totals />
        <div class="d-grid">
          <a routerLink="/checkout" class="btn btn-outline-primary py-2">
            Proceed to checkout
          </a>
        </div>
      </div>
    </div>

  </div>
  <!-- </ng-container> -->
  } @else {
  <div>There are no items in your basket</div>
  }
</div>