<div class="form-floating mb-3">
  <input type="{{type()}}" [formControl]="control" class="form-control" placeholder="{{label()}}"
    [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null">

  @if (control.status === 'PENDING') {
  <div class="fa fa-spinner fa-spin loader">

  </div>
  }

  <label for="floatingInput">{{label()}}</label>
  @if (control.errors?.['required']) {
  <div class="invalid-feedback">Please enter your {{label()}}</div>
  }
  @if (control.errors?.['email']) {
  <div class="invalid-feedback">Invalid email address</div>
  }
  @if (control.errors?.['pattern']) {
  <div class="invalid-feedback">Password must be at least 1 small-case letter, 1 Capital letter, 1 digit, 1 special
    character and the length should be between 6-10 characters</div>
  }
  @if (control.errors?.['emailExists']) {
  <div class="invalid-feedback">Email address is taken</div>
  }
</div>